version: '3.8'

services:
  squid-distahl:
    build: ./build/squid-distahl/
#    env_file:
#      - variables.env
    ports:
      - "8888:3128"
      - "8889:3129"
    volumes:
      - ./logs:/var/log/squid
      - ./cache:/var/spool/squid
#      - ./ca.crt:/usr/local/squid/ca.crt
#      - ./ca.key:/usr/local/squid/ca.key
    restart: "no"
#    command: squid -f /etc/squid/squid.conf -NYCd 1

  loganalyzer:
    build: ./build/analyzer/
    volumes:
      - ./logs:/var/squid/logs
      - ./http:/htdocs/
    depends_on:
      - squid-distahl
    command: /usr/local/bin/copyhtml.sh
    restart: "no"

  apache:
    build: ./build/apache
    depends_on:
      - loganalyzer
      - squid-distahl
    ports:
      - "8080:80"
    volumes:
      - ./http:/usr/local/apache2/htdocs/
    restart: "no"


